p{
    font-size: 14px;
    color: #6B7280;
}

.reward .content p:first-child{
    font-weight: 600;
    color: #000;
}

.reward .profile-content p:first-child{
    font-weight: 600;
    color: #000;
}

.rewardImg{
    margin-right: 20px;
}

